body{
    background-color:white;
    
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  .btn{
    font-size: 16px;
    padding: 12.5px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #30B868;
    cursor: pointer;
  }

}
header{
    background-color: white;
    margin: 0 auto;
    max-width: 1600px;
   
   
    }
    nav{
        display: flex;
        width: 1600px;
        align-items: center;
        padding: 16px 1341px 16px 120px;
        justify-content: space-between;
        
       
    }
    nav .menu{
        font-size: 16px;
        font-weight: 400;
        margin: 0 auto;
        color: black;
        display: flex;
        list-style-type: none;
        gap: 32px;
        align-items: center;
        justify-content: space-between;
        padding: 0 450px;
        
    }
    #banner{
    background: url(../assets/hero-bg.png);
    padding: 115px 120px 179px 120px;
      align-items: center;
    }
     #banner .banner-content{
      max-width: 770px;
      margin: 0 auto;
      text-align: center;
      
    }
    #banner .banner-content h3{
      max-width: 229px;
      border: none;
     border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      color: #30B868;
      background-color: white;
      text-align: center;
      margin: 0 auto;
      
    }
   
    #banner .banner-content h2{
      font-size: 72px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin-top: 24px 295px 16px 295px;
    }
    #banner .banner-content h1{
       font-size: 72px;
      font-weight: bold;
      color: #30B868;
      text-align: center;
      margin-top: 24px 295px 16px 295px;
    }

    
    #banner .banner-content p{
      font-size: 18px;
      color:#ffffff;
      line-height: 24px;
      text-align: center;
     
    }
    #banner .banner-content button{
    
      margin: 0 auto;
    }
    #skills{
      padding-top: 126px;
    }
    #skills .skills-container{
      width: 85%;
      margin: 0 auto;
     max-width: 1360px;
     text-align: center;
    }
     .section-heading{
      
      max-width: 1360px;
      margin: 0 auto;
      text-align: center;
    }
    .section-heading h1{
      font-size: 48px;
      font-weight: bold;
      color: #001931;
    }
    .section-heading p{
      padding-top: 16PX;
      font-size: 16px;
      color: #627382;
    }
#skills .skills-box{
  border: #30B868;
  margin: 0 auto;
  max-width: 1360PX;
  padding-top: 44px;
  display: flex;
  gap: 24px;
}

.skills-box .skill-card{
  padding: 145.5px 24px 125.5px 24px;
  max-width: 274px;
  border: 1px solid blue;
  box-shadow: 0 0 8px 0 #000000;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
 .skill-card img{
  max-width: 60px;
  padding-bottom: 16px;
  
}
.skill-image-container{
  padding: 10px; 
  border-radius: 50%;
  background-color:#f95555;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills .skills-box .skills-card h2{
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  color: #001931;
  
  
}
#skills .skills-box .skills-card p{
  
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}
#second-brain{
  max-width: 1360px;
  margin: 120px;
  display: flex;
  gap: 60px;
}
#second-brain .image-container{
  width: 600px;
  height: 600px;
}


.heading h4{
  padding-top: 102px;
  font-size: 16px;
  color: #30B868;
}
.heading h1{
  max-width: 700px;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  line-height: 20px;
  
}
.heading p{
  font-size: 16px;
  color:#627382;
  
}
#list ul{
  padding-bottom: 102px;
}


#list ul li{
  font-size: 16px;
  font-weight: 400;
  display:flex;
  width: 428px;  
  gap: 6px;
  align-items:center;
  line-height: 0px; 
  padding-right: 272px ; 
  
  
}

#list ul li img{
  width: 20px;
  height: 20px;
  margin-left: 0px;
 

}

